/* ===============================================
   Global Animations
=============================================== */

.fadeUp{

    animation:fadeUp .8s ease both;
}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(35px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* Smooth Hover */

.hoverLift{

    transition:.35s;
}

.hoverLift:hover{

    transform:translateY(-8px);

}

/* Glass Effect */

.glass{

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(12px);

}